@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Welkom bij de VakantieBlog!</h1>
        <p class="lead">Een gemakkelijke manier om foto's te delen en te uploaden over jou vakantie.</p>
        <hr class="my-4">
        <p>Klik op "Foto's bekijken" om de foto's van eerdere Locaties te zien.</p>
        <p>Klik op "Foto's uploaden" om foto's van het huidige Locatie te uploaden.</p>
    </div>
</div>

